<nav>
  <div>
    <h1>Angular test site</h1>
  </div>
  <div class="menu">
    <a routerLink="/test" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Test</a
    >
    <a routerLink="/map" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Map</a
    >
    <a
      routerLink="/geojson"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >GeoJSON</a
    >
    <a
      routerLink="/editing"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Editing</a
    >
  </div>
</nav>

<router-outlet></router-outlet>
